GROQ_API_KEY=
ALLOWED_ORIGINS=https://portfolio-b981b.web.app,https://portfolio-b981b.firebaseapp.com,http://localhost:3000,http://localhost:5000
ENVIRONMENT=development
GROQ_MODEL=openai/gpt-oss-120b
